/* NORMALIZE */
div,
section,
article,
ul,
table {
  box-sizing: border-box;
  overflow: hidden;
}


/* OVERRIDES

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Lato", "Roboto", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* CUSTOM STYLES

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 6rem;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px gray solid;
}

.header h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 0 0 0.5em;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.has-header {
  margin-top: 7rem;
}

/* Nav Drawer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navdrawer {
  position: fixed;
  top: 0;
  left: -70%;
  z-index: 20;
  min-height: 100%;
  width: 70%;
  background-color: black;
  color: gray;
}
