/* References
-----------------------------------------*/

.content

  font-family: font-stack-serif
  font-size: 1.6rem

  h1
    background-color: aliem-green
    border: 1px solid aliem-green-shade
    color: white
    padding: 0.5em 1em

  h1, h2, h3, h4, h5, h6
    font-family: font-stack

#references
  background-color: light-shade
  border: 1px solid dark-shade
  color: dark-shade
  padding: 0.5em 1em
  font-size: 2.5rem

#references + ul
  background-color: light-shade
  border: 1px solid dark-shade
  padding: 1.5em

  li
    margin-bottom: 1.5em

  a
    text-decoration: none
