@import "skeleton"
@import "grid"
@import "typography"
@import "header"
@import "nav"

.content
  position: relative

@media (min-width: 750px)
  .content
    padding-left: nav-width


/* NORMALIZE */

body
  has-header()

div,
section,
article,
ul,
table {
  box-sizing: border-box;
  overflow: hidden;
}
