/* Search
-----------------------------------------------------*/

searchbox-height = 6rem
button-width = 5rem

.searchHero
  position: relative
  width: 100%
  background-color: aliem-green
  color: white
  text-align: center
  padding: 1rem

@media (min-width: 750px)
  .searchHero
    padding: 5rem

    .searchBox
      width: 75%
      margin: 0 auto

  .heroText
    font-size: 2.3rem

.searchBox
  position: relative
  width: 100%
  color: white
  background-color: aliem-green
  padding: 1rem
  text-align: center
  overflow: visible

  form
    margin: 1rem auto 0 auto

  input
    display: block
    float: left
    margin: 0
    padding-right: button-width
    height: searchbox-height - 2rem
    font-size: 2rem
    width: 100%
    outline: none
    color: dark-shade
    border-radius: 2px
    border: none
    outline: none

  button
    border: 0
    color: white
    background-color: aliem-green-shade
    font-size: 2rem
    padding: 0.5rem
    height: 4rem
    width: button-width
    margin-left: -5rem
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px

.searchList
  position: relative
  top: -2rem
  left: 2rem
  width: 85%
  margin: 1em
  padding: 2rem 0
  // background-color: light-shade
  // border: 0px solid aliem-green-shade
  // text-align: left
  // box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.3)

  li
    list-style: none
    margin-bottom: 1rem
    background-color: white
    text-align: left
    font-weight: bold
    border-radius: 2px

    a
      display: block
      padding: 1rem 2rem
      color: aliem-green
      text-decoration: none

    a:hover
      background-color: light-shade
      color: aliem-green-shade
      border-radius: 2px

@media (min-width: 750px)

  .search-list
    margin: 2rem auto
    padding: 3rem
