/* References
-----------------------------------------*/

.content
  font-size: 1.6rem
  line-height: 2.6rem

  h1
    //background-color: light-shade
    padding: 1rem
    background-color: light-shade
    border-bottom: 5px solid aliem-green
    font-size: 4.2rem

  h1, h2, h3, h4, h5, h6
    font-family: font-stack

  h2
    font-size: 3.2rem
    border-bottom: 1px solid dark-shade

  ol, ul
    padding-left: 1rem

  li
    margin-bottom: 0.5rem
    text-indent: -1rem
    padding-left: 1rem

#references
  background-color: light-shade
  border: 1px solid dark-shade
  color: dark-shade
  padding: 0.5em 1em
  font-size: 2.5rem

#references + ul
  background-color: light-shade
  border: 1px solid dark-shade
  padding: 1.5em

  a
    text-decoration: none
