@import "skeleton"
@import "grid"
@import "colors"
@import "typography"
@import "lists"
@import "header"
@import "navmenu"
@import "breadcrumbs"
@import "cards"
@import "search"
@import "footer"
@import "images"
@import "loader"

html
  height: 100%

body
  position: relative
  min-height: 100%

.main
  padding-bottom: 25rem
  height: 100%

.content
  position: relative
  margin-top: 2rem

.drug
  color: #F06292
  font-weight: bold

.taxonomy-list
  a
    text-decoration: none
    color: dark-shade

  a:hover
    color: aliem-green

.cards-list
  font-size: 2rem

  li
    list-style: none
    color: dark-shade
    margin: 0 0 0 0
    padding: 1rem 0
    border-bottom: 1px solid light-shade
    display: block

    a
      color: dark-shade
      text-decoration: none

    a:hover
      color: aliem-green

    .metadata
      display: none
      font-weight: bold
      font-size: 1rem

.breadcrumbs
  display: none

select
  cursor: pointer
  background: url(/images/down-caret.svg) no-repeat 95% 50%
  background-size: 1.6rem
  appearance: none


@media (min-width: 750px)

  .cards-list
    li
      .metadata
        display: inline
        margin-left: 2rem

        a
          margin-right: 1rem
          background-color: light-shade
          padding: 0.5rem 1rem

  .backButton
    display: none

  .breadcrumbs
    display: block

/* Normalize
-----------------------------------------*/

div,
section,
article,
ul,
table {
  box-sizing: border-box;
}
