@import "skeleton"
@import "grid"
@import "colors"
@import "typography"
@import "lists"
@import "header"
@import "nav"
@import "navmenu"
@import "breadcrumbs"
@import "cards"
@import "search"
@import "footer"

html
  height: 100%

body
  position: relative
  min-height: 100%

.main
  padding-bottom: 25rem
  height: 100%

.content
  position: relative

.drug
  color: #F06292
  font-weight: bold

.cards-list,
.taxonomy-list
  li
    list-style: none
    color: dark-shade
    padding: 0.5rem 0
    font-weight: bold
    display: block

    a
      color: dark-shade
      text-decoration: none

    a:hover
      color: aliem-green

    .metadata
      display: none

@media (min-width: 750px)
  .taxonomy-list
    li
      box-sizing: border-box
      float: left
      width: 33%
      padding: 1rem

    li:nth-child(3n+4)
      clear: left

  .cards-list
    li
      .metadata
        display: inline
        font-size: 1rem
        margin-left: 2rem

        a
          margin-right: 1rem
          background-color: light-shade
          padding: 0.5rem 1rem

.loader
  background-color: aliem-green
  width: 100%
  height: 100%
  padding: 3rem
  color: white
  font-size: 8rem

  i
    font-size: 10rem
    animation: spin 1s infinite

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}


/* Normalize
-----------------------------------------*/

div,
section,
article,
ul,
table {
  box-sizing: border-box;
}
