/* Nav Drawer
-----------------------------------------------------*/

nav-width = 16em

#navtoggle
  float: right
  padding: 0.5em
  cursor: pointer

#navdrawer
  position: absolute
  top: header-height
  z-index: 10
  width: 100%
  background-color: light-shade
  color: dark-shade
  border: 1px solid dark-shade
  padding: 1em 0


  ul
    list-style: none
    margin-bottom: 0

  li
    margin-bottom: 1em
    //border-bottom: 1px solid light-shade
    text-align: center

  a,
  a:visited
    display: block
    height: 2em
    text-transform: uppercase

    padding: 0.3em 1em
    color: dark-shade
    text-decoration: none

    &:hover
      color: white
      background-color: dark-shade


/* Menu Items
-----------------------------------------------------*/

.searchbox
  padding: 0.5em 1em

  form
    margin-bottom: 0

  input
    margin-bottom: 0


/* Nav Toggle
-----------------------------------------------------*/
.navopen
  opacity: 1
  visibility: visible
  transition: opacity 0.5s linear

.navclosed
  opacity: 0
  visibility: hidden
  transition: visibility 0s 0.5s, opacity 0.5s linear


/* Media Queries
-----------------------------------------------------*/
@media (min-width: 750px)
  #navtoggle
    display: none

  #navdrawer
    width: nav-width
    float: left
    margin: 1em

  .navopen,
  .navclosed
    visibility: visible
    opacity: 1
