/* Search
-----------------------------------------------------*/

.searchbox
  position: relative
  width: 100%
  color: white
  background-color: aliem-green
  border-bottom: 1px solid aliem-green
  padding: 1rem
  text-align: center

  label
    float: left
    padding-top: 1rem
    margin-bottom: 0
    font-size: 2rem

  input
    margin-top: 0rem
    font-size: 2rem
    width: 90%
    outline: none
    color: dark-shade

  input:focus
    border: none
    outline: none


.search-list
  margin-top: 1em
  
  li
    list-style: none
    color: white
    padding: 0.5rem 0
    font-weight: bold
    display: block

    a
      color: white
      text-decoration: none


    a:hover
      text-decoration: underline

@media (min-width: 750px)
  .searchbox
    padding: 1rem 12.5%
