/* Search
-----------------------------------------------------*/

.searchHero
  position: relative
  width: 100%
  min-height: 40rem
  background-color: aliem-green
  color: white
  text-align: center
  padding: 8rem

  label
    display: inline
    position: relative
    top: 1rem

    i
      font-size: 4rem

  input
    width: 80%
    height: 6rem
    color: dark-shade
    font-size: 2rem

.searchbox
  position: relative
  width: 100%
  color: white
  background-color: aliem-green
  border-bottom: 1px solid aliem-green
  padding: 1rem
  text-align: center

  form
    margin-bottom: 0

  label
    display: inline
    padding: 0 1rem 0 0
    position: relative
    top: 0.5rem
    font-size: 2rem

  input
    margin: 0rem
    font-size: 2rem
    width: 90%
    outline: none
    color: dark-shade

  input:focus
    border: none
    outline: none


.search-list
  margin-top: 1em

  li
    list-style: none
    color: white
    padding: 0.5rem 0
    font-weight: bold
    display: block

    a
      color: white
      text-decoration: none


    a:hover
      text-decoration: underline

@media (min-width: 750px)
  .searchbox
    padding: 1rem 12.5%
