/* Search
-----------------------------------------------------*/

hero-height = 40rem
searchbox-height = 6rem

.searchHero
  position: relative
  width: 100%
  background-color: aliem-green
  color: white
  text-align: center
  padding: 8rem
  overflow: visible

  label
    display: inline
    position: relative
    top: 1rem

    i
      font-size: 4rem

  input
    width: 80%
    height: 6rem
    color: dark-shade
    font-size: 2rem

.searchbox
  position: relative
  width: 100%
  color: white
  background-color: aliem-green
  border-bottom: 1px solid aliem-green
  padding: 1rem
  text-align: center
  overflow: visible

  form
    margin-bottom: 0

  label
    display: inline
    padding: 0 1rem 0 0
    position: relative
    top: 0.5rem
    font-size: 2rem

  input
    margin: 0rem
    font-size: 2rem
    width: 90%
    outline: none
    color: dark-shade

  input:focus
    border: none
    outline: none


.search-list
  position: relative
  top: -2rem
  left: 2rem
  width: 85%
  margin: 1em auto
  padding: 3rem
  // background-color: light-shade
  // border: 0px solid aliem-green-shade
  // text-align: left
  // box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.3)

  li
    list-style: none
    margin-bottom: 1rem
    background-color: white
    text-align: left
    font-weight: bold

    a
      display: block
      padding: 1rem 2rem
      color: aliem-green
      text-decoration: none


    a:hover
      background-color: light-shade
      color: aliem-green-shade

@media (min-width: 750px)
  .searchbox
    padding: 1rem 12.5%
