.announcements
    z-index: -1
    margin: $block-margins
    margin-top: $block-margin*-1
    padding: 1em 3em
    background-color: $light-gray
    color: $dark-gray

    h2
        color: $primary
        border: 0
        margin-bottom: 0
        font-size: 1.3em
        padding-right: 1em
        display: inline