@require 'variables'

// Card List
.card-list
    font-size: 20px

.card-list__item
    padding: 10px 10px 10px 5px
    border-bottom: 1px solid $light-gray

.card-list__item-title,
.card-list__item-meta
    color: $dark-gray
    &:hover
        color: $accent

.card-list__item-meta
    background: $light-gray
    font-size: 10px
    font-weight: bold
    padding: 5px 10px
    margin: 5px
    vertical-align: middle
    transition: $link-transition
    &:hover
        color: white
        background-color: $dark-gray


// Cards
.card__meta
    display: flex
    font-size: .8em
    margin: $block-margins
    & > div
        color: $font-primary
        background: $light-gray
        padding: 5px 10px
        margin: 0 5px
        &:first-of-type
            margin-left: 0
        &:last-of-type
            margin-right: 0

.drug
    color: $drug-color
    font-weight: bold

.taxonomy-list
    a
        text-decoration: none
        color: $dark-gray
        &:hover
            color: $primary

#references
    background-color: $light-gray
    border: 0
    margin: 0
    border-radius: 2px 2px 0 0
    color: $font-primary
    padding: $padding-size
    padding-bottom: 0
    & + ul, & + ol
        background-color: $light-gray
        border-radius: 0 0 2px 2px
        padding: $padding-size

