.contact
    textarea
        width: 30rem
        height: 20rem

    #company
        display: none

.invalidError
    background-color: lighten(red, 75%)
    color: lighten(red, 20%)
    padding: 1rem
    margin-bottom: 2rem
    border-radius: 2px

.invalidShow
    display: block

.invalidHide
    display: none
