@require 'variables'

.footer
    font-size: 12px
    line-height: 1em
    a
        font-weight: bold

.footer__cc
    border: 1px solid $light-gray
    padding: 2rem
    max-width: $container-max-width
    margin-left: auto
    margin-right: auto
    align-items: center

.footer__cc-image
    width: 20%
    display: flex
    align-items: center
    justify-content: center

.footer__cc-text
    width: 80%
    line-height: 1.4em
    color: $dark-gray
    a
        color: $dark-gray

.footer__links
    max-width: 300px
    margin-left: auto
    margin-right: auto
    justify-content: space-between
