/* Footer
-----------------------------------------------------*/

.foot
    width: 100%
    color: $dark-gray
    margin-top: 10rem
    font-size: 1.2rem
    img
        display: inline
        margin-right: 1rem
    .cc
        border: 1px solid $light-gray
        padding: 2rem
    a
        text-decoration: none
        color: $dark-gray
        font-weight: bold
    .footerLinks
        margin-top: 2rem
        text-align: center
        padding: 0
        a
            color: $primary
        li
            display: inline-block
            margin: 0
            padding: 0 1rem
            border-right: 1px solid $light-gray
            &:last-of-type
                border: 0
