@require 'variables'

.header
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 10px
    background: $light-gray

.header__logo
    flex: auto
    width: 50%

.header__nav-button
    display: flex
    button
        line-height: 1
        i
            color: $dark-gray
            font-size: 30px

.header__nav
    display: none
    flex: auto
    z-index: 10
    width: 100%
    text-align: center
    font-size: 1.5rem
    ul
        list-style: none
        padding: 0
        margin: 0
    li
        margin: 0
        padding: 0
    a
        color: $dark-gray
        text-decoration: none
        display: block
        padding: 10px 0
        &:hover
            background-color: white
            color: $primary

.header__nav--open
    display: initial

@media (min-width: 750px)
    .header__nav-button
        display: none
    .header__nav
        width: 50%
        text-align: right
        font-size: inherit
        li
            display: inline
        a
            display: inline-block
            padding: 8px 32px
            &:hover
                background-color: transparent
    .header__nav--open,
    .header__nav--closed
        display: initial
